<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/miapp/css/Estilos-Formularios.css">
    <title>¿Olvido su contraseña?</title>
</head>
<body>
    <div id="cabecera">
        <a href="{% url 'home' %}"><img src="../../static/miapp/img/Aca-Vendes 2.0.png" id="Logo"></a>
        <hr>

        <form action="" method="get">
            <div id="box-1"> 
                <h1 id="T1">Recupera tu contraseña</h1>
                <hr>
                <h2 id="T2">Ingresa tu correo electrónico o número de celular para buscar tu cuenta.</h2>
                <input type="text" placeholder="Correo electrónico o número de celular" id="Correo-celular">
                <hr>
                <button id="buscar">Buscar</button>
            </div>
        </form>
        <footer id="pie-pag">
            Version 1.0
            <br>
            Phytones 2024 &reg;
        </footer>

    </div>
    
</body>
</html>