<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/miapp/css/Estilos-Perfil.css">
    <link rel="stylesheet" href="../../static/miapp/css/Estilos-inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>

    <div id="box_logo">
        <a href="{% url 'Inicio' %}"><img src="../../static/miapp/img/Aca-Vendes 2.0.png" id="Logo"></a>
    </div>

    <div id="box-container">
        <div id="box-perfil">

            <div class="box-foto">
                <img src="{{ foto.cubicacion_foto.url }}" id="foto-perfil">
            </div>

            <div id="box-nombre-user">
                <p> {{ persona.cnombre }} {{ persona.capellido_paterno }} {{ persona.capellido_materno }}</p>
            </div>
        
            <div id="box-nav-bar-perfil">
                <div class="nav-bar-perfil"><i class="fa-solid fa-info"></i></div>
                <div class="nav-bar-perfil"><i class="fa-solid fa-store"></i></div>
                <a href="{% url 'publicacion' %}"><div class="nav-bar-perfil"><i class="fa-solid fa-plus"></i></div></a>
                <a href="https://wa.me/522261057331"><div class="nav-bar-perfil"><i class="fa-brands fa-whatsapp"></i></i></div></a>
            </div>


        </div>
    </div>
</body>
</html>